%abs {
	position: absolute;
	z-index: 10;
}
%abs-after {
	display: block;
	content: ' ';
}

%abs-pseudo {
	position: absolute;
	top: 0;
	display: block;
	content: ' ';
}

%anim {
	will-change: contents;
	transition: all 500ms cubic-bezier(.785, .135, .15, .86);
}

%antialias {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%abs-x {
	left: 50%;
	transform: translateX(-50%);
}

%abs-y {
	top: 50%;
	transform: translateY(-50%);
}

%abs-xy {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

%bg-cover {
    background: {
        position: center;
        repeat: no-repeat;
        size: cover;
    }
}

%clear {
	clear: both;
	
	&:after {
		clear: both;
		display: block;
		content: '';
	}
}

%flex {
    display: flex;
}

%flex-end {
    align-items: flex-end;
}

%flex-x {
	justify-content: center;
}

%flex-y {
	align-items: center;
}

%flex-baseline {
    align-items: baseline;
}

%flex-space-between {
	justify-content: space-between;
}

%flex-wrap {
    flex-wrap: wrap;
}

%flex-xy {
	justify-content: center;
	align-items: center;
}

%font-size--secondary {
    font: {
        size: rem(48);
        weight: $bold;
    }
    
    @media screen and ( max-width: 1680px ) {
        font-size: vw1680(48);
    }
    
    @media screen and ( max-width: 1280px ) {
        font-size: vw1280(48);
    }
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        font-size: vw768(48);
    }
    
    @media screen and ( max-width: $smartphone_portrait + px ) {
        font-size: vw480(38);
    }
}

%font-size--fourth {
    line-height: 1.2em;
    font: {
        family: $sans-serif;
        size: rem(30);
        weight: $bold;
    }
    
    @media screen and ( max-width: 1680px ) {
        font-size: vw1680(30);
    }
    
    @media screen and ( max-width: 1280px ) {
        font-size: vw1280(30);
    }
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        font-size: vw768(30);
    }
    
    @media screen and ( max-width: $smartphone_portrait + px ) {
        font-size: vw480(30);
    }
}
        
%font-size--third {
    font: {
        size: rem(36);
        weight: $bold;
    }
    
    @media screen and ( max-width: 1680px ) {
        font-size: vw1680(36);
    }
    
    @media screen and ( max-width: 1280px ) {
        font-size: vw1280(36);
    }
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        font-size: vw768(36);
    }
    
    @media screen and ( max-width: $smartphone_portrait + px ) {
        font-size: vw480(36);
    }
    
    
}



%icomoon {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%img {
	display: block;
	max-width: 100%;
	height: auto;
}

%rel {
	position: relative;
	z-index: 5;
}

%ulink {
    @extend %rel;
    
    &:after, &:before {
        @extend %abs;
        @extend %abs-after;
        left: 0;
        width: 100%;
        transform: scale3d(0, 1, 1);
    }

    &:before {
        bottom: -4px;
        height: 2px;
        transform-origin: right center;
        transition: transform;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.77,0, .175, 1);
    }

    &:after {
        top: 0;
    	height: 100%;
    }

    &:hover {
        //.desktop & {
            &:before {                
                transform: scale3d(1, 1, 1);
                transform-origin: left center;
            }
       // }
    }
}


