.icon-arrow-right:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-arrow-right1:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-money:before {
  content: "\e903";
}
.icon-likes:before {
  content: "\e904";
}
.icon-clicks:before {
  content: "\e905";
}
.icon-projects:before {
  content: "\e906";
}
.icon-employees:before {
  content: "\e907";
}
.icon-youtube:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
