.c-articles {
    margin-bottom: 70px;
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        text-align: center;
    }
    
    .o-header--main {
        margin-bottom: 4em;
    }

    .o-cols {
        &__item {
            &--left {
                .c-cases__item {
                
                    .o-header, p {
                        width: 500px;
        
                        @media screen and ( max-width: 1680px ) {
                            width: grid(500, 790);
                        }
                        
                        @media screen and ( max-width: 1280px ) {
                            width: grid(600, 790);
                        }
                        
                        @media screen and ( max-width: $tablet + px ) {
                            width: 100%;
                        }
                    }
                    
                    .o-thumb {
                        &__img {
                            max-width: 610px;
                            
                            @media screen and ( max-width: $tablet_portrait + px ) {    
                                margin: 0 auto;
                            }

                            @media screen and ( max-width: 1680px ) {
                                width: grid(610, 790);
                            }
                         
                            @media screen and ( max-width: $tablet + px ) {
                                width: 95%;
                            }
                            
                            @media screen and ( max-width: $tablet_portrait + px ) {
                                width: 100%;
                            }
                        }
                    }
                }
                
                @media screen and ( max-width: $tablet_portrait + px ) {
                    margin-bottom: 100px;
                }
            }

            &--right {
                .c-cases__item {
                
                    .o-thumb {
                        &__img {

                            @media screen and ( max-width: $tablet_portrait + px ) {    
                                max-width: 610px;
                                margin: 0 auto;
                            }
                        }
                    }
                    
                    @media screen and ( min-width: $tablet_portrait + 1px ) {
                        max-width: 610px;
                        margin: 0 0 0 auto;
                    }
                    
                    @media screen and ( max-width: 1680px ) {
                        width: grid(610, 790);
                    }
                    
                    @media screen and ( max-width: $tablet + px ) {
                        width: 95%;
                    }
                    
                    @media screen and ( max-width: $tablet_portrait + px ) {
                        width: 100%;
                    }
                    
                    .o-header, p {
                        width: 500px;
        
                        @media screen and ( max-width: 1680px ) {
                            width: grid(500, 610);
                        }
                        
                         @media screen and ( max-width: 1280px ) {
                            width: grid(600, 610);
                        }
                        
                        @media screen and ( max-width: $tablet + px ) {
                            width: 100%;
                        }
                    }
                }                
            }            
        }
    }

    .o-article {
        img {
            margin: 0;
            
            @media screen and ( max-width: $tablet_portrait + px ) {
                margin: 0 auto;
            }
        }
    }
    
    &--related {
        .o-header {
            margin-bottom: 4em;
        }
    }
    
    .o-sticker {
        &--1 {
            width: grid(220, 790); height: grid(200, 358);
            bottom: -20px; left: grid(280, 790);                   
        }
        
        &--2 {
            width: grid(140, 610); height: grid(290, 358);
            top: -20px; right: grid(40, 610);
        }
        
        &--3 {
            width: 140px; height: 124px;
            bottom: -20px; left: 230px;
        }
        
        &--4 {
            width: 140px; height: 290px;
            top: -20px; right: 70px;
        }
    }
    
    .o-thumb {
        margin-bottom: 60px; 
        
        @media screen and ( max-width: 1680px ) {
            margin-bottom: vw1680(60); 
        } 
        
        @media screen and ( max-width: 1280px ) {
            margin-bottom: vw1280(60); 
        }
        
        @media screen and ( max-width: $tablet_portrait +px ) {
            margin-bottom: vw768(60); 
        }  
    }
    
    .o-underline {
        &:after {
            @media screen and ( max-width: $tablet_portrait + px ) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

