.c-nav {
    

    
    @media screen and ( max-width: 1280px ) {
        display: none;
        
        position: absolute;
        top: 50%; transform: translateY(-50%);
        right: vw-1920(350);
        transition: all .5s ease-out;
    }
    
    ul {
        @media screen and ( min-width: 1281px ) {
            display: flex;
            text-transform: lowercase;
            
            position: absolute;
            top: 50%; 
            right: 350px;
            transform: translateY(-50%);
            
            transition: all .5s ease-out;
            
        }

        
        .mobile-nav & {
            width: 100%;
        }
    }
    
    li {
        padding: 0 25px;
        
        .mobile-nav & {
            padding: 0;
            border-bottom: 1px solid $c-gray7;
            transform: translateY(-50%);
        }
    }
    
    a {
        &:not(.o-btn) {
            @extend %ulink;
            font: {
                family: $sans-serif;
                size: rem(18);
            }
            color: $c-black2;
        }
        
        .mobile-nav & {
            display: block;
            padding: 20px 0;
            font: {
                family: $serif;
                size: rem(24);
                weight: $bold;
            }
            
            @media screen and ( max-width: $smartphone_portrait + px ) {
                font-size: vw480(24);
            }
        }
        
        &:after, &:before {
            background-color: $c-black2;
            
            .mobile-nav & {
                bottom: -1px;
                height: 1px;
                
                .mobile-nav & {
                    //display: none;
                }
            }
        }
    }
    
    &__btn {
        @media screen and ( min-width: 1281px ) {
            position: absolute;
            right: 50px; top: 50%;
            transform: translateY(-50%); 
        }
        
        @media screen and ( max-width: 1280px ) {
            display: none;
        }
    }
    
    .mobile-nav & {
        @extend %flex;
        @extend %flex-y;
        position: fixed;
        right: 0; top: 0;
        width: 400px; height: 100vh;
        background-color: white;
        padding: 50px;
        transform: none;
        transform: translate3d(100%, 0, 0);
        
        @media screen and ( max-width: 400px ) {
            width: 90%;
        }
        
    }
    
    .o-btn {
        padding: 0 20px 3px 20px;
    }
    
    &.is-visible {
        transition-delay: .2s;
        transform: translate3d(0, 0, 0);
    }
}
