
$c-black1:      #111;
$c-black2:      #222;

$c-blue1:       #46c2ee;
$c-blue2:       #4467f4;

$c-gray1:       #999;
$c-gray2:       #f5f5f5;
$c-gray3:       #333;
$c-gray4:       #b7b7b7;
$c-gray5:       #9b9b9b;
$c-gray6:       #d3d3d3;
$c-gray7:       #e8e8e8;

$c-green1:      #24d3a3;
$c-green2:      #00271c;

$c-orange1:     #e49408;

$c-red1:        #ee2059;

$c-yellow1:     #f6ce2c;

$c-violet1:     #a01d86;

$c-primary:     $c-black1;
