<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader?minimize=false!./includes/head.html') %>


    <%= require('html-loader?minimize=false!./includes/topbar.html') %>


    <div class="o-container">

        <div class="c-postcarousel">
            <div class="o-wrap">

                <div class="c-postcarousel__images js-postcarousel--images">
                    <img src=<%= require("./img/assets/blog/slider.jpg") %> alt="" width="1580" height="630">
                    <img src=<%= require("./img/assets/blog/slider.jpg") %> alt="" width="1580" height="630">
                </div>

                
                <div class="c-postcarousel__info">
                    <div class="js-postcarousel--text">
                        <div class="c-postcarousel__item">
                            <div class="u-green">
                                <div class="c-post__meta">
                                    <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                                </div>
                                
                                <p class="c-postcarousel__lead">
                                    Lorem ipsum
                                    dolor sit amet,
                                    consectetur
                                    adipiscing elit
                                </p>
                            </div>
                        </div>
                        
                        <div class="c-postcarousel__item">
                            <div class="u-green">
                                <div class="c-post__meta">
                                    <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                                </div>
                                
                                <p class="c-postcarousel__lead">
                                    Lorem ipsum
                                    dolor sit amet,
                                    consectetur
                                    adipiscing elit
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="c-postcarousel__nav">
                        <div class="icon-arrow-left js-postcarousel--prev"></div>
                        <div class="icon-arrow-right1 js-postcarousel--next"></div>
                    </div>
                </div>
                
            </div>
        </div>


        <div class="c-posts c-posts--blog">
            <div class="o-wrap">           
            
                <div class="o-cols o-cols--v4">
                    <div class="o-cols__item u-blue anim anim--fadein">
                        <div class="c-post__meta">
                            <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                        </div>
                        
                        <h4 class="o-header__fourth">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                    
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--1 anim anim--up"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/blog/postthumb-1.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                            
                    </div>
                    
                    <div class="o-cols__item u-red anim anim--fadein">
                        <div class="c-post__meta">
                            <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                        </div>
                        
                        <h4 class="o-header__fourth">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--2 o-sticker--1 anim anim--down"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/blog/postthumb-2.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    <div class="o-cols__item u-yellow anim anim--fadein">
                        <div class="c-post__meta">
                            <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                        </div>
            
                        <h4 class="o-header__fourth">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--1 o-sticker--1 anim anim--up"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/blog/postthumb-3.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    
                    <div class="o-cols__item u-violet anim anim--fadein">
                        <div class="c-post__meta">
                            <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                        </div>
                        
                        <h4 class="o-header__fourth">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--3 o-sticker--1 anim anim--down"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/blog/postthumb-4.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    <div class="o-cols__item u-blue2 anim anim--fadein">
                        <div class="c-post__meta">
                            <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                        </div>
                        
                        <h4 class="o-header__fourth">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--2 o-sticker--1 anim anim--down"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/blog/postthumb-5.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    <div class="o-cols__item u-green anim anim--fadein">
                        <div class="c-post__meta">
                            <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                        </div>
                        
                        <h4 class="o-header__fourth">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--4 o-sticker--1 anim anim--up"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/blog/postthumb-6.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    
                    <div class="o-cols__item u-blue anim anim--fadein">
                        <div class="c-post__meta">
                            <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                        </div>
                        
                        <h4 class="o-header__fourth">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                    
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--1 o-sticker--1 anim anim--up"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/blog/postthumb-1.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                            
                    </div>
                    
                    <div class="o-cols__item u-red anim anim--fadein">
                        <div class="c-post__meta">
                            <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                        </div>
                        
                        <h4 class="o-header__fourth">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--2 o-sticker--1 anim anim--down"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/blog/postthumb-2.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    <div class="o-cols__item u-yellow anim anim--fadein">
                        <div class="c-post__meta">
                            <div class="c-post__date o-underline o-underline--closer">31 lipca 2018 / sem</div>
                        </div>
            
                        <h4 class="o-header__fourth">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--1 o-sticker--1 anim anim--up"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/blog/postthumb-3.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                </div>
            </div>
        </div>

               
        <%= require('html-loader?minimize=false!./includes/footer.html') %>

    </div>
</body>
</html>
