<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader?minimize=false!./includes/head.html') %>


    <%= require('html-loader?minimize=false!./includes/topbar.html') %>


    <div class="o-container">

        <div class="c-top c-top--case">
            <div class="o-wrap">
            
                <div class="o-cols o-cols--v2">
                    <div class="o-cols__item o-cols__item--left">
                        <header class="o-header">
    
                            <h1 class="o-header__primary">
                                Nowa domena,
                                nowy CMS<br>
                                –&nbsp;co się stanie
                                po przekierowaniu? 
                            </h1>

                            <h2 class="o-header__third">SEO</h2>
                        </header>
                    </div>
                    
                    <div class="o-cols__item o-cols__item--right">                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--1 u-yellow"></div>
                            <div class="o-sticker o-sticker--2 u-blue"></div>
                            <div class="o-sticker o-sticker--3 u-red"></div>

                            <img src=<%= require('./img/top/case.jpg') %> alt="" width="530" height="530">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="c-case">
            <div class="o-slant o-slant--v4">
                <div class="o-wrap">

                    <article class="o-article o-article-bigparagraph">                        
                        
                        <div class="row u -yellow">
                            <div class="o-underline--top">
                                <img src=<%= require("./img/assets/cases/case-postimage1.png") %> alt="" width="790" height="738" class="align-right">
    
                                <h2>
                                    Lorem ipsum<br>
                                    dolor sit amet
                                </h2>
                                                            
                                <p>
    Pellentesque ultrices sagittis nisi et porta. Aliquam gravida, erat quis rhoncus interdum, urna ex aliquet mi, sed vulputate ipsum ipsum ac diam. Fusce finibus lacus magna, a consectetur diam hendrerit quis. Fusce pellentesque, tortor sed lacinia molestie, orci augue eleifend nisi, eu vestibulum erat justo sit amet nisi. Sed gravida cursus quam sit amet sagittis. Etiam tincidunt ornare lacus ut feugiat. 
                                </p>
                            </div>
                        </div>
                        
                        <div class="row u-red">
                            <div class="o-underline--top">
                                <h2>
                                    Lorem ipsum<br>
                                    dolor sit amet
                                </h2>
                                
                                <p>
    Pellentesque ultrices sagittis nisi et porta. Aliquam gravida, erat quis rhoncus interdum, urna ex aliquet mi, sed vulputate ipsum ipsum ac diam. Fusce finibus lacus magna, a consectetur diam hendrerit quis. Fusce pellentesque, tortor sed lacinia molestie, orci augue eleifend nisi, eu vestibulum erat justo sit amet nisi. Sed gravida cursus quam sit amet sagittis. Etiam tincidunt ornare lacus ut feugiat. Fusce finibus lacus magna, a consectetur diam hendrerit quis. Fusce pellentesque, tortor sed lacinia molestie, orci augue eleifend nisi, eu vestibulum erat justo sit amet nisi. Sed gravida.
                                </p>
                            </div>
                        </div>
                        
                        <div class="row u-yellow">
                            <div class="o-underline--top">
                                <img src=<%= require("./img/assets/cases/case-postimage1.jpg") %> alt="" width="790" height="352" class="align-right">
    
                                <h2>
                                    Lorem ipsum<br>
                                    dolor sit amet
                                </h2>
                                                            
                                <p>
    Pellentesque ultrices sagittis nisi et porta. Aliquam gravida, erat quis rhoncus interdum, urna ex aliquet mi, sed vulputate ipsum ipsum ac diam. Fusce finibus lacus magna, a consectetur diam hendrerit quis. Fusce pellentesque, tortor sed lacinia molestie, orci augue eleifend nisi, eu vestibulum erat justo sit amet nisi. Sed gravida cursus quam sit amet sagittis. Etiam tincidunt ornare lacus ut feugiat. 
                                </p>
                            </div>
                        </div>
                        
                    </article>

                </div>
            </div>
        </div>


               
        <%= require('html-loader?minimize=false!./includes/footer.html') %>

    </div>
</body>
</html>
