<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader?minimize=false!./includes/head.html') %>


    <%= require('html-loader?minimize=false!./includes/topbar.html') %>


    <div class="o-container">

        <div class="c-top c-top--home">
            <div class="o-wrap">
            
                <div class="o-cols">
                    <div class="o-cols__item o-cols__item--left">
                        <header class="o-header">
                            <h1 class="o-header__primary">
                                Zwiększamy
                                sprzedaż
                                w&nbsp;sklepach
                                internetowych.    
                            </h1>
                            
                            <h3 class="o-header__third">
                                Budujemy ruch.<br>
                                Optymalizujemy konwersję.
                            </h3>
                        </header>
                    </div>

                    <div class="o-cols__item o-cols__item--right">
                        <div class="o-thumb">
                            <img src=<%= require('./img/top/home.jpg') %> alt="" width="770" height="704">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="c-growth">
            <div class="o-slant o-slant--v1">
                <div class="o-wrap">
                    
                    <header class="o-header o-header--main text-center">
                        <h3 class="o-header__secondary">
                            Wzrost sprzedaży naszych Klientów budujemy<br>
                            za pomocą najskuteczniejszych rozwiązań
                        </h3>
                    </header>
                    
                    <div class="c-growth__content anim anim--fadein">
                        <div class="c-growth__group c-growth__group--wide">
                            <h5 class="c-growth__lead">Budowa ruchu</h5>
                            
                            <article class="c-growth__item o-article u-yellow">
                                <header class="o-header o-underline o-underline--closer">
                                    <h4 class="o-header__fourth">Pozycjonowanie</h4>
                                </header>
                                
                                <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Nunc imperdiet ex sed congue adipiscing elit lorem ipsum lorem ipsum dolor sit amet.</p>
                                <p>
                                    <a href="#" class="o-more">
                                        <span>dowiedz się więcej</span>
                                    </a>
                                </p>
                            </article>
                            
                            <article class="c-growth__item o-article u-red">
                                <header class="o-header o-underline o-underline--closer">
                                    <h4 class="o-header__fourth">Google Ads</h4>
                                </header>
                                
                                <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Nunc imperdiet ex sed congue adipiscing elit lorem ipsum lorem ipsum dolor sit amet.</p>
                                <p>
                                    <a href="#" class="o-more">
                                        <span>dowiedz się więcej</span>
                                    </a>
                                </p>
                            </article>
                            
                            <article class="c-growth__item o-article u-blue">
                                <header class="o-header o-underline o-underline--closer">
                                    <h4 class="o-header__fourth">Social Media</h4>
                                </header>
                                
                                <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Nunc imperdiet ex sed congue adipiscing elit lorem ipsum lorem ipsum dolor sit amet.</p>
                                <p>
                                    <a href="#" class="o-more">
                                        <span>dowiedz się więcej</span>
                                    </a>
                                </p>
                            </article>
                        </div>


                        <div class="c-growth__group c-growth__group--narrow">
                            <h5 class="c-growth__lead">Wzrost konwersji</h5>
                            
                            <article class="c-growth__item o-article u-violet">
                                <header class="o-header o-underline o-underline--closer">
                                    <h4 class="o-header__fourth">Optymalizacja konwersji</h4>
                                </header>
                                
                                <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Nunc imperdiet ex sed congue adipiscing elit lorem ipsum lorem ipsum dolor sit amet.</p>
                                <p>
                                    <a href="#" class="o-more">
                                        <span>dowiedz się więcej</span>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="c-articles">
            <div class="o-wrap">
            
                <header class="o-header o-header--main text-center">
                    <h2 class="o-header__secondary">Case study</h2>
                </header>
            
            
                <div class="o-cols anim anim--fadein">
                    <div class="o-cols__item o-cols__item--left">
                    
                        <article class="c-cases__item o-article u-blue">
                            <header class="o-header o-underline o-underline--further">
                                <h4 class="o-header__fourth">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit nunc
                                    elementum sodales feugiat.
                                </h4>
                            </header>
                            
                            <div class="o-thumb o-separator">
                                <div class="o-sticker o-sticker--1 anim anim--down"></div>
    
                                <a href="#" class="o-thumb__img">
                                    <img src=<%= require("./img/assets/cases/case1.jpg") %> alt="" width="610" height="358">
                                </a>
                            </div>
                            
                            <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus. Aenean sed ullamcorper erat.
                            </p>

                            <p>
                                <a href="#" class="o-more">
                                    <span>dowiedz się więcej</span>
                                </a>
                            </p>
                        </article>
                    
                    </div>
                    
                    <div class="o-cols__item o-cols__item--right">
                    
                        <article class="c-cases__item o-article u-red">
                            <header class="o-header o-underline o-underline--further">
                                <h4 class="o-header__fourth">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit nunc
                                    elementum sodales feugiat.
                                </h4>
                            </header>
                            
                            <div class="o-thumb">
                                <div class="o-sticker o-sticker--2 anim anim--up"></div>
    
                                <a href="#" class="o-thumb__img">
                                    <img src=<%= require("./img/assets/cases/case2.jpg") %> alt="" width="610" height="358">
                                </a>
                            </div>
                            
                            <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus. Aenean sed ullamcorper erat.
                            </p>

                            <p>
                                <a href="#" class="o-more">
                                    <span>dowiedz się więcej</span>
                                </a>
                            </p>
                        </article>
            
                    </div>
                </div>
            </div>
        </div>


        <%= require('html-loader?minimize=false!./includes/numbers.html') %>
        
        
        <%= require('html-loader?minimize=false!./includes/footer.html') %>

    </div>
</body>
</html>
