<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader?minimize=false!./includes/head.html') %>


    <%= require('html-loader?minimize=false!./includes/topbar.html') %>


    <div class="o-container">

        <div class="c-top c-top--seo">
            <div class="o-wrap">
            
                <div class="o-cols o-cols--v2">
                    <div class="o-cols__item o-cols__item--left">
                        <header class="o-header">    
                            <h1 class="o-header__primary">
                                Pozycjonowanie
                                sklepów
                                internetowych  
                            </h1>
                            
                            <h2 class="o-header__third">
                                Ruch organiczny to trwałe<br> 
                                fundamenty sprzedaży online.
                            </h2>
                        </header>
                    </div>
                    
                    <div class="o-cols__item o-cols__item--right">
                        <div class="o-thumb">
                            <img src=<%= require('./img/top/seo.jpg') %> alt="" width="540" height="665">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="o-slant o-slant--v5">
            <div class="o-wrap">
            
                <header class="o-header o-header--secondary text-center">
                    <h2 class="o-header__secondary">Pozycjonowanie sklepu internetowego generuje sprzedaż</h2>
                </header>
                    
                <article class="o-article o-article--bigparagraph text-center">
                    <p>
Pellentesque ultrices sagittis nisi et porta. Aliquam gravida, erat quis rhoncus interdum, urna ex aliquet mi, sed vulputate ipsum ipsum ac diam. Fusce finibus lacus magna, a consectetur diam hendrerit quis. Fusce pellentesque, tortor sed lacinia molestie, orci augue eleifend nisi, eu vestibulum erat justo sit amet nisi. Sed gravida cursus quam sit amet sagittis. Etiam tincidunt ornare lacus ut feugiat. 
                    </p>
                </article>

            </div>
        </div>


        <div class="c-seopoints">
            <div class="o-wrap">
            
                <div class="o-cols o-cols--v3">
                    <div class="o-cols__item o-cols__item--left">
                        <h5 class="o-header__fifth text-upper">Po pierwsze</h5>
                        <h2 class="o-header__secondary text-upper">Optymalizacja</h2>
                    </div>
                    
                    <div class="o-cols__item o-cols__item--right u-red">
                        <div class="o-underline o-underline--top">
                            <article class="o-article o-article--bigparagraph">
                                <p>Pellentesque ultrices sagittis nisi et porta. Aliquam gravida, erat quis rhoncus interdum, urna ex aliquet mi, sed vulputate ipsum ipsum ac diam. Fusce finibus lacus magna, a consectetur diam hendrerit quis. Fusce pellentesque, tortor sed lacinia molestie, orci augue eleifend nisi, eu vestibulum erat justo sit amet nisi. Sed gravida cursus quam sit amet sagittis. Etiam tincidunt ornare lacus ut feugiat. Ut suscipit imperdiet mauris, at mollis purus mollis vel. Vestibulum pretium gravida mattis. Praesent faucibus lacus vitae vehicula vulputate. In at nulla non enim consectetur ullamcorper vel non justo. </p>
                            </article>
                        </div>
                    </div>
                </div>
                
                <div class="o-cols o-cols--v3">
                    <div class="o-cols__item o-cols__item--left">
                        <h5 class="o-header__fifth text-upper">Po drugie</h5>
                        <h2 class="o-header__secondary text-upper">content</h2>
                    </div>
                    
                    <div class="o-cols__item o-cols__item--right u-blue">
                        <div class="o-underline o-underline--top">
                            <article class="o-article o-article--bigparagraph">
                                <p>Pellentesque ultrices sagittis nisi et porta. Aliquam gravida, erat quis rhoncus interdum, urna ex aliquet mi, sed vulputate ipsum ipsum ac diam. Fusce finibus lacus magna, a consectetur diam hendrerit quis. Fusce pellentesque, tortor sed lacinia molestie, orci augue eleifend nisi, eu vestibulum erat justo sit amet nisi. Sed gravida cursus quam sit amet sagittis. Etiam tincidunt ornare lacus ut feugiat. Ut suscipit imperdiet mauris, at mollis purus mollis vel. Vestibulum pretium gravida mattis. Praesent faucibus lacus vitae vehicula vulputate. In at nulla non enim consectetur ullamcorper vel non justo. </p>
                            </article>
                        </div>
                    </div>
                </div>
                
                
                <div class="o-cols o-cols--v3">
                    <div class="o-cols__item o-cols__item--left">
                        <h5 class="o-header__fifth text-upper">Po trzecie</h5>
                        <h2 class="o-header__secondary text-upper">Link building</h2>
                    </div>
                    
                    <div class="o-cols__item o-cols__item--right u-yellow">
                        <div class="o-underline o-underline--top">
                            <article class="o-article o-article--bigparagraph">
                                <p>Pellentesque ultrices sagittis nisi et porta. Aliquam gravida, erat quis rhoncus interdum, urna ex aliquet mi, sed vulputate ipsum ipsum ac diam. Fusce finibus lacus magna, a consectetur diam hendrerit quis. Fusce pellentesque, tortor sed lacinia molestie, orci augue eleifend nisi, eu vestibulum erat justo sit amet nisi. Sed gravida cursus quam sit amet sagittis. Etiam tincidunt ornare lacus ut feugiat. Ut suscipit imperdiet mauris, at mollis purus mollis vel. Vestibulum pretium gravida mattis. Praesent faucibus lacus vitae vehicula vulputate. In at nulla non enim consectetur ullamcorper vel non justo. </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="o-slant o-slant--v5">
            <div class="o-wrap">

                <header class="o-header o-header--secondary text-center">
                    <h2 class="o-header__secondary">Stale inwestujemy czas i pieniądze w zdobywanie wiedzy...</h2>
                </header>

                <article class="o-article o-article--bigparagraph text-center">
                    <p>
Pellentesque ultrices sagittis nisi et porta. Aliquam gravida, erat quis rhoncus interdum, urna ex aliquet mi, sed vulputate ipsum ipsum ac diam. Fusce finibus lacus magna, a consectetur diam hendrerit quis. Fusce pellentesque, tortor sed lacinia molestie, orci augue eleifend nisi, eu vestibulum erat justo sit amet nisi. Sed gravida cursus quam sit amet sagittis. Etiam tincidunt ornare lacus ut feugiat. 
                    </p>
                </article>

            </div>
        </div>


        <div class="c-posts">
            <div class="o-wrap">
                <header class="o-header o-header--main text-center">
                    <h2 class="o-header__secondary">Jak pozycjonujemy sklepy internetowe?</h2>
                </header>            
            
                <div class="o-cols o-cols--v4">
                    <div class="o-cols__item u-blue">
                        <h4 class="o-header__fourth o-underline o-underline--further">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--1"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/seo/seopost-1.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    <div class="o-cols__item u-red">
                        <h4 class="o-header__fourth o-underline o-underline--further">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--2"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/seo/seopost-2.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    <div class="o-cols__item u-yellow">
                        <h4 class="o-header__fourth o-underline o-underline--further">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--5"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/seo/seopost-3.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    
                    <div class="o-cols__item u-violet">
                        <h4 class="o-header__fourth o-underline o-underline--further">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--6"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/seo/seopost-4.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    <div class="o-cols__item u-blue2">
                        <h4 class="o-header__fourth o-underline o-underline--further">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--7"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/seo/seopost-5.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                    
                    <div class="o-cols__item u-green">
                        <h4 class="o-header__fourth o-underline o-underline--further">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc elementum sodales feugiat.</a>
                        </h4>
                        
                        <div class="o-thumb">
                            <div class="o-sticker o-sticker--8"></div>

                            <a href="#" class="o-thumb__img">
                                <img src=<%= require("./img/assets/seo/seopost-6.jpg") %> alt="" width="490" height="290">
                            </a>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Nunc elementum sodales feugiat. Nunc ac tempus quam, nec posuere sem. Suspendisse viverra arcu at dui porttitor, nec imperdiet neque luctus.</p>
                    </div>
                </div>
            </div>
        </div>


        <%= require('html-loader?minimize=false!./includes/numbers.html') %>


        <%= require('html-loader?minimize=false!./includes/footer.html') %>

    </div>

</body>
</html>
